/*
 * Simple Tooltip
 * Handcrafted with love :)
 */

.mmd-tooltip {
    display: block;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    color: #fff;
}

.mmd-loading {
    display: none;
}

.mmd-active {
    opacity: 1;
}

.mmd-tooltip-image {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.mmd-tooltip-content {
    display: inline-block;
    padding: 4px;
}

.mmd-ptr {
    background-color: rgb(91, 192, 222) !important;
}

