/* Animation */
@keyframes pulse {
	0% {
		background-color: rgba(120, 197, 213, 0.5);
	}
    25% {
		background-color: rgba(121, 194, 104, 0.5);
	}
    50% {
		background-color: rgba(245, 214, 61, 0.5);
	}
    75% {
		background-color: rgba(232, 104, 162, 0.5);
	}
    100% {
		background-color: rgba(191, 99, 166, 0.5);
	}
}

/* Tooltips */
.mmd-tooltip {
    display: block;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity .2s ease-in;
    color: #fff;
    z-index: 9999;
    pointer-events: none
}
.mmd-tooltip.loading {
    font-size: 1rem;
    padding: .25rem;
}
.mmd-tooltip.active {
    opacity: 1;
}
.mmd-tooltip .mmd-thumbnail {
    max-width: 100%;
    display: block;
}
.mmd-tooltip .mmd-thumbnail.loading {
    display: none;
}
.mmd-tooltip.has-chapters .mmd-thumbnail {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.mmd-tooltip-content {
    display: inline-block;
    padding: 4px;
}
.mmd-tooltip.loading .mmd-tooltip-content {
    display: none;
}

/* Meta */
.mmd-next-chapter {
    color: rgb(199, 146, 2);
}
.is-loading {
    animation-name: pulse;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
	animation-iteration-count: infinite;
	opacity: 0.4;
}
.reader-images.is-loading {
	animation-name: none;
	opacity: 1;
}
.has-transition {
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.has-fast-in-transition {
    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
}
.is-hidden-chapter {
    overflow: hidden;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
}
.is-hidden-chapter.is-visible {
    transform: scaleY(1);
    max-height: 100px;
}

/* Title */
.mmd-ptr {
    background-color: rgb(91, 192, 222) !important;
}
.mmd-background-info {
    background-color: rgba(2, 136, 209, 0.2);
}

/* History */
#history {
	padding-top: 1rem;
}
.history-up {
	box-shadow: 0 0 6px -1px rgb(87, 200, 46);
	border: 1px solid rgb(87, 200, 46);
}
.history-up .car-caption {
	background-color: rgba(87, 200, 46, 0.75);
}
.history-down {
	box-shadow: 0 0 6px 1px rgb(60, 145, 219);
	border: 1px solid rgb(60, 145, 219);
}
.history-down .car-caption {
	background-color: rgba(60, 145, 219, 0.75);
}