body {
    background: rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in-out;
}

h1 {
    text-shadow: 0 0 2px gray;
}

#save {
    position: fixed;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    z-index: 9999;
}

#malImportStatus, #malExportStatus {
    display: none;
    max-height: 18rem;
    overflow: auto;
}

.saved {
    background-color: rgb(0, 102, 0) !important;
}

.failed {
    background-color: firebrick !important;
}

.text-container {
    background-color: rgb(46, 51, 56);
    border-radius: 4px;
    color: white;
    box-shadow: 1px 1px 4px rgb(46, 51, 56);
}