body {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: background 1s ease-in-out;
}

h1 {
    text-shadow: 0 0 2px gray;
}

#save {
    position: fixed;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    z-index: 9999;
}

#malImportStatus,
#malExportStatus {
    display: none;
    max-height: 18rem;
    overflow: auto;
}

.bg-success {
    background: rgb(0, 102, 0) !important;
}

.bg-fail {
    background: firebrick !important;
}

.text-container {
    background-color: rgb(46, 51, 56);
    border-radius: 4px;
    color: white;
    box-shadow: 1px 1px 4px rgb(46, 51, 56);
}

#loggedInPanel,
#loggedOutPanel,
#onlineAdvancedPanel,
#onlineError,
#onlineSuccess {
    display: none;
}