body {
    color: white;
}

.main-options {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    background-color: rgb(46, 51, 56);
    transition: background-color 0.5s ease-in-out;
}

.header-separator {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.font-2 {
    font-size: 1.5rem;
}

#malImportStatus {
    display: none;
    max-height: 18rem;
    overflow: auto;
}

.col-form-label {
    text-align: right;
    font-weight: bold;
}

.saved {
    background-color: rgb(0, 102, 0) !important;
}


.failed {
    background-color: firebrick !important;
}
